DB_HOST=db.hwzmhhjrwxfowfokasaj.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=-Sebasnal165
DATABASE_URL=postgresql://postgres:-Sebasnal165@db.hwzmhhjrwxfowfokasaj.supabase.co:5432/postgres

