DB_HOST=db.hwzmhhjrwxfowfokasaj.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
DATABASE_URL=postgresql://postgres:tu_password_aqui@db.hwzmhhjrwxfowfokasaj.supabase.co:5432/postgres

# Secret para firmar tokens JWT (cambia esto en producción)
JWT_SECRET=tu_clave_secreta_muy_larga_y_aleatoria

# Puerto del servidor
PORT=4000
